{% extends 'mains/main.html' %}
{%  load static %}


{%  block title %} Ticket Reservations All {% endblock title %}

{%  block content  %}

<div class="banner_sections">
    <div class="container">
        <div class="row">
            <div class="banner mt-5">
                <div class="col-md-12 col-lg-6">
                    <h2 class="heads">{% if form.instance.pk %}Edit Payment Details{% else %}Payment Details{% endif %}</h2>
                    <form method="post" class="my-form">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label><b>UPID</b></label>
                                {{ form.upid }}
                            </div>
                           
                            <div class="form-group  mb-3">
                                <label><b>Payment Types Gpay ,PhonePay,Patym,UPID</b></label>
                                {{ form.payment_type_name }}
                            </div>
                           
                            <div class="form-group  mb-3">
                                <label><b>Tarnsection Id</b></label>
                                {{ form.transection_id }}
                            </div>

                            <div class="form-groupmb-3 mb-3 ">
                                <label><b>Total Amount</b></label>
                                {{ form.amount }}
                            </div>


                            <div class="form-group mb-3">
                                <label><b>Name</b></label>
                                {{ form.send_monay_our_name }}
                            </div>

                           
                            
                            <div class="text-center mt-4 "> 
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" class="btn btn-primary"><a href="{% url 'conform_all' %}">Next</a></button>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>


{%  endblock content  %}